@import 'reset.css';
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 300;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v40/memQYaGs126MiZpBA-UFUIcVXSCEkx2cmqvXlWq8tWZ0Pw86hd0Rk5hkaVc.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v40/memQYaGs126MiZpBA-UFUIcVXSCEkx2cmqvXlWq8tWZ0Pw86hd0Rk8ZkaVc.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 500;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v40/memQYaGs126MiZpBA-UFUIcVXSCEkx2cmqvXlWq8tWZ0Pw86hd0Rk_RkaVc.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 600;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v40/memQYaGs126MiZpBA-UFUIcVXSCEkx2cmqvXlWq8tWZ0Pw86hd0RkxhjaVc.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 700;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v40/memQYaGs126MiZpBA-UFUIcVXSCEkx2cmqvXlWq8tWZ0Pw86hd0RkyFjaVc.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 800;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v40/memQYaGs126MiZpBA-UFUIcVXSCEkx2cmqvXlWq8tWZ0Pw86hd0Rk0ZjaVc.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v40/memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgsiH0C4n.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v40/memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgsjZ0C4n.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 500;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v40/memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgsjr0C4n.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v40/memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgsgH1y4n.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v40/memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgsg-1y4n.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v40/memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgshZ1y4n.ttf) format('truetype');
}
body {
  background-color: #F4F4F4;
  font-family: 'Open Sans', sans-serif;
  color: #0D1B1E;
}
body * {
  box-sizing: border-box;
}
body p {
  line-height: 1.4;
  color: #3C3C3C;
}
.cv__grid {
  display: grid;
  grid-template-columns: 240px 1fr;
  grid-gap: 24px;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 24px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 24px;
}
.cv__grid .subtitle {
  text-transform: uppercase;
  font-size: 22px;
  font-weight: bold;
}
.cv__grid .cv__sidebar {
  background-color: #E3E3E3;
  display: grid;
  grid-template-columns: 1fr;
  gap: 24px;
  padding: 24px;
  height: fit-content;
  box-shadow: 8px 8px 0 0 #FF5E5B;
}
.cv__grid .cv__sidebar .cv__header {
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
}
.cv__grid .cv__sidebar .cv__header .cover {
  width: 100%;
  height: 200px;
  border: 1px solid gray;
  background-color: gray;
}
.cv__grid .cv__sidebar .cv__header .name {
  text-align: center;
}
.cv__grid .cv__sidebar .cv__header .job {
  text-align: center;
}
.cv__grid .cv__sidebar .cv__contact {
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
}
.cv__grid .cv__sidebar .cv__contact .whatsapp {
  display: flex;
  align-items: center;
  gap: 10px;
}
.cv__grid .cv__sidebar .cv__skills {
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
}
.cv__grid .cv__sidebar .cv__skills .skill__item {
  display: grid;
  grid-template-columns: 1fr;
  gap: 6px;
}
.cv__grid .cv__sidebar .cv__skills .skill__item .labels {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cv__grid .cv__sidebar .cv__skills .skill__item .progress {
  background-color: gray;
  height: 18px;
}
.cv__grid .cv__sidebar .cv__skills .skill__item .progress .completion {
  display: block;
  background-color: green;
  height: 18px;
}
.cv__grid .cv__sidebar .cv__skills .skill__item .progress .completion.c100 {
  animation: progress--100 1s both;
}
@keyframes progress--100 {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
.cv__grid .cv__sidebar .cv__skills .skill__item .progress .completion.c85 {
  animation: progress--85 1s both;
}
@keyframes progress--85 {
  0% {
    width: 0;
  }
  100% {
    width: 85%;
  }
}
.cv__grid .cv__sidebar .cv__skills .skill__item .progress .completion.c70 {
  animation: progress--70 1s both;
}
@keyframes progress--70 {
  0% {
    width: 0;
  }
  100% {
    width: 70%;
  }
}
.cv__grid .cv__sidebar .cv__skills .skill__item .progress .completion.c50 {
  animation: progress--50 1s both;
}
@keyframes progress--50 {
  0% {
    width: 0;
  }
  100% {
    width: 50%;
  }
}
.cv__grid .cv__contents {
  background-color: #EEEEEE;
  padding: 24px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 24px;
  height: fit-content;
}
.cv__grid .cv__contents .cv__about {
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
}
.cv__grid .cv__contents .cv__experience {
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
}
.cv__grid .cv__contents .cv__experience .job {
  display: grid;
  grid-template-columns: 1fr;
  gap: 12px;
}
.cv__grid .cv__contents .cv__projects {
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
}
.cv__grid .cv__contents .cv__projects .landing__pages,
.cv__grid .cv__contents .cv__projects .institutionals,
.cv__grid .cv__contents .cv__projects .special {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 8px;
}
.cv__grid .cv__contents .cv__projects .landing__pages .project,
.cv__grid .cv__contents .cv__projects .institutionals .project,
.cv__grid .cv__contents .cv__projects .special .project {
  height: 160px;
  background-color: gray;
}
.cv__grid .cv__contents .cv__projects .landing__pages .project:nth-child(1) {
  grid-column: span 2;
}
.cv__grid .cv__contents .cv__projects .institutionals .project:nth-child(2) {
  grid-column: span 2;
}
.cv__grid .cv__contents .cv__projects .special {
  grid-template-rows: 1fr 1fr;
}
.cv__grid .cv__contents .cv__projects .special .project:nth-child(1) {
  grid-row: 1 / span 2;
  background-color: red;
  height: 100%;
}
.cv__grid .cv__contents .cv__projects .special .project:nth-child(3) {
  grid-column: span 2;
}
.cv__grid .cv__contents .cv__projects .special .project:nth-child(4) {
  grid-column: span 2;
}
