html {
  scroll-behavior: smooth;
}
body {
  overflow-x: hidden;
}
body,
p,
h1,
h2,
h3,
h4,
h5,
h6,
figure,
iframe {
  margin: 0;
}
a {
  display: block;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
address {
  font-style: normal;
  margin-bottom: 0;
}
iframe {
  border: none;
}
mark {
  padding: 0;
  background-color: transparent;
}
menu {
  padding-inline-start: 0;
  margin-block-start: 0;
  margin-block-end: 0;
}
ul {
  list-style-type: none;
  padding-inline-start: 0;
}
summary {
  list-style: none;
}
button {
  border: 0;
  appearance: none;
  text-align: initial;
  background-color: transparent;
  padding-block: 0;
  padding-inline: 0;
}
time {
  display: block;
}
section,
article,
aside,
details,
figcaption,
figure,
header,
footer,
menu,
nav {
  display: block;
}
input:-internal-autofill-selected {
  color: initial;
}
@font-face {
  font-family: 'Urbanist';
  font-style: italic;
  font-weight: 100;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/urbanist/v15/L0xtDF02iFML4hGCyMqgdyNEf6or5L2WA133VJmv.ttf) format('truetype');
}
@font-face {
  font-family: 'Urbanist';
  font-style: italic;
  font-weight: 200;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/urbanist/v15/L0xtDF02iFML4hGCyMqgdyNEf6or5L2WA113VZmv.ttf) format('truetype');
}
@font-face {
  font-family: 'Urbanist';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/urbanist/v15/L0xtDF02iFML4hGCyMqgdyNEf6or5L2WA12pVZmv.ttf) format('truetype');
}
@font-face {
  font-family: 'Urbanist';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/urbanist/v15/L0xtDF02iFML4hGCyMqgdyNEf6or5L2WA133VZmv.ttf) format('truetype');
}
@font-face {
  font-family: 'Urbanist';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/urbanist/v15/L0xtDF02iFML4hGCyMqgdyNEf6or5L2WA13FVZmv.ttf) format('truetype');
}
@font-face {
  font-family: 'Urbanist';
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/urbanist/v15/L0xtDF02iFML4hGCyMqgdyNEf6or5L2WA10pUpmv.ttf) format('truetype');
}
@font-face {
  font-family: 'Urbanist';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/urbanist/v15/L0xtDF02iFML4hGCyMqgdyNEf6or5L2WA10QUpmv.ttf) format('truetype');
}
@font-face {
  font-family: 'Urbanist';
  font-style: italic;
  font-weight: 800;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/urbanist/v15/L0xtDF02iFML4hGCyMqgdyNEf6or5L2WA113Upmv.ttf) format('truetype');
}
@font-face {
  font-family: 'Urbanist';
  font-style: italic;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/urbanist/v15/L0xtDF02iFML4hGCyMqgdyNEf6or5L2WA11eUpmv.ttf) format('truetype');
}
@font-face {
  font-family: 'Urbanist';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/urbanist/v15/L0xjDF02iFML4hGCyOCpRdycFsGxSrqDyx8fFg.ttf) format('truetype');
}
@font-face {
  font-family: 'Urbanist';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/urbanist/v15/L0xjDF02iFML4hGCyOCpRdycFsGxSrqDSx4fFg.ttf) format('truetype');
}
@font-face {
  font-family: 'Urbanist';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/urbanist/v15/L0xjDF02iFML4hGCyOCpRdycFsGxSrqDlR4fFg.ttf) format('truetype');
}
@font-face {
  font-family: 'Urbanist';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/urbanist/v15/L0xjDF02iFML4hGCyOCpRdycFsGxSrqDyx4fFg.ttf) format('truetype');
}
@font-face {
  font-family: 'Urbanist';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/urbanist/v15/L0xjDF02iFML4hGCyOCpRdycFsGxSrqD-R4fFg.ttf) format('truetype');
}
@font-face {
  font-family: 'Urbanist';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/urbanist/v15/L0xjDF02iFML4hGCyOCpRdycFsGxSrqDFRkfFg.ttf) format('truetype');
}
@font-face {
  font-family: 'Urbanist';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/urbanist/v15/L0xjDF02iFML4hGCyOCpRdycFsGxSrqDLBkfFg.ttf) format('truetype');
}
@font-face {
  font-family: 'Urbanist';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/urbanist/v15/L0xjDF02iFML4hGCyOCpRdycFsGxSrqDSxkfFg.ttf) format('truetype');
}
@font-face {
  font-family: 'Urbanist';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/urbanist/v15/L0xjDF02iFML4hGCyOCpRdycFsGxSrqDYhkfFg.ttf) format('truetype');
}
body {
  background-color: #FFF;
  font-family: Urbanist;
}
.page__hero {
  position: relative;
  background-image: url('../img/banner-1.jpg');
  background-size: cover;
  background-attachment: fixed;
  height: 680px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.page__hero .background__mask {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 680px;
  z-index: 1;
  background-color: black;
  opacity: 0.5;
}
.page__hero .hero__content {
  position: relative;
  z-index: 2;
}
.page__hero .hero__content h1 {
  font-size: 120px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  color: white;
}
.page__hero .hero__content p {
  color: white;
  font-size: 24px;
  text-align: center;
}
.page__hero .hero__content a {
  color: white;
  font-size: 24px;
  font-weight: 300;
  letter-spacing: 1px;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 32px;
  width: fit-content;
  padding: 16px 32px;
  border-radius: 4px;
  border: 1px solid white;
  text-transform: uppercase;
}
.page__products {
  padding-left: 124px;
  padding-right: 124px;
}
.page__products h2 {
  margin-top: 60px;
  font-size: 46px;
  margin-bottom: 24px;
  text-transform: uppercase;
}
.page__products .grid__1 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 8px;
}
.page__products .grid__1 .card {
  position: relative;
  height: 300px;
  padding: 16px;
  padding-bottom: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  background-size: cover;
  border-radius: 4px;
}
.page__products .grid__1 .card .name {
  position: relative;
  z-index: 2;
  display: block;
  color: white;
  font-size: 24px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
}
.page__products .grid__1 .card .name strong {
  font-weight: 700;
  color: #FE6F5E;
}
.page__products .grid__1 .card .description {
  margin-top: 16px;
  position: relative;
  z-index: 2;
  display: block;
  color: #eeeeee;
  font-size: 16px;
  text-align: center;
}
.page__products .grid__1 .card .value {
  margin-top: 16px;
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}
.page__products .grid__1 .card .value .from {
  color: #eeeeee;
  font-size: 14px;
}
.page__products .grid__1 .card .value .price {
  color: white;
  font-size: 18px;
  font-weight: 700;
}
.page__products .grid__1 .card .button {
  display: none;
  position: relative;
  z-index: 2;
  margin-top: 16px;
  width: fit-content;
  padding: 10px 24px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: white;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  background: linear-gradient(to right, #FE6F5E, #FE6F5E);
  border-radius: 4px;
}
.page__products .grid__1 .card:nth-child(1) {
  background-image: url('../img/card-1.jpeg');
}
.page__products .grid__1 .card:nth-child(2) {
  background-image: url('../img/card-2.jpeg');
}
.page__products .grid__1 .card:nth-child(3) {
  background-image: url('../img/card-3.jpeg');
}
.page__products .grid__1 .card:nth-child(4) {
  background-image: url('../img/card-4.jpeg');
}
.page__products .grid__1 .card:nth-child(5) {
  background-image: url('../img/card-5.jpeg');
}
.page__products .grid__1 .card:nth-child(6) {
  background-image: url('../img/card-6.jpeg');
}
.page__products .grid__1 .card::after {
  content: '';
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  border-radius: 4px;
}
.page__products .grid__1 .card::before {
  content: url('../img/arrow-square-up-right.svg');
  position: absolute;
  z-index: 2;
  top: 16px;
  right: 16px;
  border-radius: 4px;
  backdrop-filter: blur(8px);
  opacity: 0.7;
}
.page__products .grid__1 .card:hover::before {
  content: url('../img/arrow-square-up-right-hover.svg');
  opacity: 1;
}
.page__products .grid__1 .card:hover .button {
  display: flex;
}
