// out: false

.float__whatsapp {
    position: fixed;
    bottom: 10px;
    right: 10px;
    background-color: @marengo;
    .r();
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;

    .icon {
        position: relative;
    }
}
